In [64]:
import pandas as pd

anime_csv = './sample-data/anime/anime.csv'
anime_master_csv = './sample-data/anime/anime_master.csv'

In [65]:
pd.read_csv(anime_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
anime_master_csv = './sample-data/anime/anime_master.csv'
pd.read_csv(anime_master_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [6]:
anime_stock_price_csv = './sample-data/anime/anime_stock_price.csv'
pd.read_csv(anime_stock_price_csv).head()

         Date  TOEI ANIMATION  IG Port
0  2015-01-01         3356.86  1201.51
1  2015-01-02         3356.86  1201.51
2  2015-01-05         3396.12  1218.44
3  2015-01-06         3361.77  1201.51
4  2015-01-07         3297.97  1202.51

In [11]:
pd.read_csv(anime_stock_price_csv, index_col=0, parse_dates=['Date']).head()

            TOEI ANIMATION  IG Port
Date
2015-01-01         3356.86  1201.51
2015-01-02         3356.86  1201.51
2015-01-05         3396.12  1218.44
2015-01-06         3361.77  1201.51
2015-01-07         3297.97  1202.51

In [12]:
anime_stock_returns_csv = './sample-data/anime/anime_stock_returns.csv'
pd.read_csv(anime_stock_returns_csv, index_col=0, parse_dates=['Date']).head()

            TOEI ANIMATION   IG Port
Date
2015-01-01        1.000000  1.000000
2015-01-02        1.000000  1.000000
2015-01-05        1.011695  1.014082
2015-01-06        1.001463  1.000000
2015-01-07        0.982457  1.000824

# これは見出しです

これは段落です。

## 小見出しだよ
- 箇条書きも
- このように表現できます

### さらなる小見出しだよ


テーブルも記述できますね。太文字にも**できた**できた
``import`` import した ``math`` math モジュールを利用します。

Package | version
------- | -------
pandas | 0.19.2
matplotlib | 2.0.0

In [14]:
import pandas as pd

ser = pd.Series([1,2,3], index=['a','b','c'])

In [15]:
ser

a    1
b    2
c    3
dtype: int64

In [16]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [17]:
ser.loc['b']

2

In [19]:
ser['b':'c']

b    2
c    3
dtype: int64

In [21]:
ser.loc[['a','c']]

a    1
c    3
dtype: int64

In [22]:
ser.iloc[1:3]

b    2
c    3
dtype: int64

In [23]:
ser.iloc[0:3]

a    1
b    2
c    3
dtype: int64

In [24]:
ser != 2

a     True
b    False
c     True
dtype: bool

In [25]:
ser

a    1
b    2
c    3
dtype: int64

In [27]:
ser.loc[ser != 3]

a    1
b    2
dtype: int64

In [66]:
df = pd.read_csv(anime_csv)

In [36]:
df.head(10)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630.0
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665.0
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262.0
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572.0
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266.0
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351.0
6,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855.0
7,820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11,80679.0
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534.0
9,15417,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109.0

In [35]:
df = pd.read_csv(anime_csv, dtype={'members': float})

In [8]:
df = pd.read_csv(anime_csv)

In [12]:
df.loc[df['episodes'] == 'Unknown'].head(10)

,anime_id,name,genre,type,episodes,rating,members
73,21,One Piece,"Action, Adventure, Comedy, Drama, Fantasy, Sho...",TV,Unknown,8.58,504862
248,235,Detective Conan,"Adventure, Comedy, Mystery, Police, Shounen",TV,Unknown,8.25,114702
607,1735,Naruto: Shippuuden,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,Unknown,7.94,533578
993,33157,Tanaka-kun wa Itsumo Kedaruge Specials,"Comedy, School, Slice of Life",Special,Unknown,7.72,5400
1226,21639,Yu☆Gi☆Oh! Arc-V,"Action, Fantasy, Game, Shounen",TV,Unknown,7.61,17571
1262,8687,Doraemon (2005),"Comedy, Kids, Sci-Fi, Shounen",TV,Unknown,7.59,2980
1851,32410,Dimension W: W no Tobira Online,"Sci-Fi, Seinen",Special,Unknown,7.40,4799
1853,30694,Dragon Ball Super,"Action, Adventure, Comedy, Fantasy, Martial Ar...",TV,Unknown,7.40,111443
1908,32977,Aggressive Retsuko,"Comedy, Music",TV,Unknown,7.38,5465
1943,6149,Chibi Maruko-chan (1995),"Comedy, Kids, School, Slice of Life",TV,Unknown,7.37,1113

In [11]:
df.where(df['rating']<9.2).head(10)

,anime_id,name,genre,type,episodes,rating,members
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9253.0,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572.0
4,9969.0,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266.0
5,32935.0,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351.0
6,11061.0,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855.0
7,820.0,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11,80679.0
8,15335.0,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534.0
9,15417.0,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109.0

In [13]:
df.loc[74,'episodes']

'26'

In [18]:
type(df)

pandas.core.frame.DataFrame

In [20]:
df.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [22]:
df.loc[df['episodes'].isnull()].head()

Empty DataFrame
Columns: [anime_id, name, genre, type, episodes, rating, members]
Index: []

In [23]:
df.loc[df['episodes'] == 'Unknown'].head()

,anime_id,name,genre,type,episodes,rating,members
73,21,One Piece,"Action, Adventure, Comedy, Drama, Fantasy, Sho...",TV,Unknown,8.58,504862
248,235,Detective Conan,"Adventure, Comedy, Mystery, Police, Shounen",TV,Unknown,8.25,114702
607,1735,Naruto: Shippuuden,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,Unknown,7.94,533578
993,33157,Tanaka-kun wa Itsumo Kedaruge Specials,"Comedy, School, Slice of Life",Special,Unknown,7.72,5400
1226,21639,Yu☆Gi☆Oh! Arc-V,"Action, Fantasy, Game, Shounen",TV,Unknown,7.61,17571

In [25]:
import numpy as np

In [26]:
df.loc[df['episodes'] == 'Unknown', 'episodes'] = np.nan

In [27]:
df.loc[df['episodes'].isnull()].head()

,anime_id,name,genre,type,episodes,rating,members
73,21,One Piece,"Action, Adventure, Comedy, Drama, Fantasy, Sho...",TV,NaN,8.58,504862
248,235,Detective Conan,"Adventure, Comedy, Mystery, Police, Shounen",TV,NaN,8.25,114702
607,1735,Naruto: Shippuuden,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,NaN,7.94,533578
993,33157,Tanaka-kun wa Itsumo Kedaruge Specials,"Comedy, School, Slice of Life",Special,NaN,7.72,5400
1226,21639,Yu☆Gi☆Oh! Arc-V,"Action, Fantasy, Game, Shounen",TV,NaN,7.61,17571

In [28]:
df.dropna().loc[70:].head()

,anime_id,name,genre,type,episodes,rating,members
70,578,Hotaru no Haka,"Drama, Historical",Movie,1,8.58,174878
71,16894,Kuroko no Basket 2nd Season,"Comedy, School, Shounen, Sports",TV,25,8.58,243325
72,5028,Major S5,"Comedy, Drama, Romance, Sports",TV,25,8.58,28653
74,801,Ghost in the Shell: Stand Alone Complex 2nd GIG,"Action, Mecha, Military, Mystery, Police, Sci-...",TV,26,8.57,113993
75,31933,JoJo no Kimyou na Bouken: Diamond wa Kudakenai,"Action, Adventure, Comedy, Drama, Shounen, Sup...",TV,39,8.57,74074

In [30]:
df.loc[70:].head(10)

,anime_id,name,genre,type,episodes,rating,members
70,578,Hotaru no Haka,"Drama, Historical",Movie,1,8.58,174878
71,16894,Kuroko no Basket 2nd Season,"Comedy, School, Shounen, Sports",TV,25,8.58,243325
72,5028,Major S5,"Comedy, Drama, Romance, Sports",TV,25,8.58,28653
73,21,One Piece,"Action, Adventure, Comedy, Drama, Fantasy, Sho...",TV,NaN,8.58,504862
74,801,Ghost in the Shell: Stand Alone Complex 2nd GIG,"Action, Mecha, Military, Mystery, Police, Sci-...",TV,26,8.57,113993
75,31933,JoJo no Kimyou na Bouken: Diamond wa Kudakenai,"Action, Adventure, Comedy, Drama, Shounen, Sup...",TV,39,8.57,74074
76,5205,Kara no Kyoukai 7: Satsujin Kousatsu (Kou),"Action, Mystery, Romance, Supernatural, Thriller",Movie,1,8.57,95658
77,17389,Kingdom 2nd Season,"Action, Historical, Military, Seinen",TV,39,8.57,31234
78,170,Slam Dunk,"Comedy, Drama, School, Shounen, Sports",TV,101,8.56,82570
79,10162,Usagi Drop,"Josei, Slice of Life",TV,11,8.56,194855

In [31]:
df.sort_values('rating').head()

,anime_id,name,genre,type,episodes,rating,members
9379,34476,Platonic Chain: Ansatsu Jikkouchuu,"Sci-Fi, Slice of Life",Special,1,1.67,51
7468,3287,Tenkuu Danzai Skelter+Heaven,"Mecha, Sci-Fi",OVA,1,2.00,7680
7467,13405,Utsu Musume Sayuri,"Comedy, Dementia",OVA,1,2.14,4047
7466,413,Hametsu no Mars,"Horror, Sci-Fi",OVA,1,2.37,27557
9474,14781,Roboteuwang Sseonsyakeu,"Action, Mecha, Sci-Fi",Movie,1,2.49,121

In [33]:
df.sort_values('rating', ascending=False).head(10)

,anime_id,name,genre,type,episodes,rating,members
9846,33662,Taka no Tsume 8: Yoshida-kun no X-Files,"Comedy, Parody",Movie,1,10.00,13
9785,30120,Spoon-hime no Swing Kitchen,"Adventure, Kids",TV,NaN,9.60,47
8985,23005,Mogura no Motoro,Slice of Life,Movie,1,9.50,62
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
8474,33607,Kahei no Umi,Historical,Movie,1,9.33,44
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
10168,26313,Yakusoku: Africa Mizu to Midori,"Drama, Kids",OVA,1,9.25,53
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [36]:
df.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [37]:
df.apply(len)

anime_id    10486
name        10486
genre       10486
type        10486
episodes    10486
rating      10486
members     10486
dtype: int64

In [39]:
df.apply(len, axis=1).head(10)

0    7
1    7
2    7
3    7
4    7
5    7
6    7
7    7
8    7
9    7
dtype: int64

In [40]:
df.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [41]:
df.apply(type)

anime_id    <class 'pandas.core.series.Series'>
name        <class 'pandas.core.series.Series'>
genre       <class 'pandas.core.series.Series'>
type        <class 'pandas.core.series.Series'>
episodes    <class 'pandas.core.series.Series'>
rating      <class 'pandas.core.series.Series'>
members     <class 'pandas.core.series.Series'>
dtype: object

In [42]:
df.apply(lambda x: len(x['name']), axis=1).head()

0    14
1    32
2     8
3    11
4    13
dtype: int64

In [43]:
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [45]:
df[['name','genre']].head()

,name,genre
0,Kimi no Na wa.,"Drama, Romance, School, Supernatural"
1,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili..."
2,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S..."
3,Steins;Gate,"Sci-Fi, Thriller"
4,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S..."

In [67]:
df['episodes'] = df['episodes'].astype(np.int64)

ValueError: invalid literal for int() with base 10: 'Unknown'

In [69]:
df[['name','genre']].applymap(len).head()

TypeError: ("object of type 'float' has no len()", 'occurred at index genre')

In [47]:
df.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [70]:
df2 = pd.read_csv(anime_master_csv)

In [75]:
df2.head(100)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
6,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855
7,820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11,80679
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
9,15417,Gintama': Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109
10,4181,Clannad: After Story,"Drama, Fantasy, Romance, Slice of Life, Supern...",TV,24,9.06,456749
11,28851,Koe no Katachi,"Drama, School, Shounen",Movie,1,9.05,102733
12,918,Gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,201,9.04,336376
13,2904,Code Geass: Hangyaku no Lelouch R2,"Action, Drama, Mecha, Military, Sci-Fi, Super ...",TV,25,8.98,572888
14,28891,Haikyuu!! Second Season,"Comedy, Drama, School, Shounen, Sports",TV,25,8.93,179342
15,199,Sen to Chihiro no Kamikakushi,"Adventure, Drama, Supernatural",Movie,1,8.93,466254
16,23273,Shigatsu wa Kimi no Uso,"Drama, Music, Romance, School, Shounen",TV,22,8.92,416397
17,24701,Mushishi Zoku Shou 2nd Season,"Adventure, Fantasy, Historical, Mystery, Seine...",TV,10,8.88,75894
18,12355,Ookami Kodomo no Ame to Yuki,"Fantasy, Slice of Life",Movie,1,8.84,226193
19,1575,Code Geass: Hangyaku no Lelouch,"Action, Mecha, Military, School, Sci-Fi, Super...",TV,25,8.83,715151
20,263,Hajime no Ippo,"Comedy, Drama, Shounen, Sports",TV,75,8.83,157670
21,44,Rurouni Kenshin: Meiji Kenkaku Romantan - Tsui...,"Action, Drama, Historical, Martial Arts, Roman...",OVA,4,8.83,129307
22,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
23,30276,One Punch Man,"Action, Comedy, Parody, Sci-Fi, Seinen, Super ...",TV,12,8.82,552458
24,164,Mononoke Hime,"Action, Adventure, Fantasy",Movie,1,8.81,339556
25,7311,Suzumiya Haruhi no Shoushitsu,"Comedy, Mystery, Romance, School, Sci-Fi, Supe...",Movie,1,8.81,240297
26,17074,Monogatari Series: Second Season,"Comedy, Mystery, Romance, Supernatural, Vampire",TV,26,8.80,205959
27,21939,Mushishi Zoku Shou,"Adventure, Fantasy, Historical, Mystery, Seine...",TV,10,8.80,101351
28,457,Mushishi,"Adventure, Fantasy, Historical, Mystery, Seine...",TV,26,8.78,300030
29,2001,Tengen Toppa Gurren Lagann,"Action, Adventure, Comedy, Mecha, Sci-Fi",TV,27,8.78,562962
...,...,...,...,...,...,...,...
70,578,Hotaru no Haka,"Drama, Historical",Movie,1,8.58,174878
71,16894,Kuroko no Basket 2nd Season,"Comedy, School, Shounen, Sports",TV,25,8.58,243325
72,5028,Major S5,"Comedy, Drama, Romance, Sports",TV,25,8.58,28653
73,31933,JoJo no Kimyou na Bouken: Diamond wa Kudakenai,"Action, Adventure, Comedy, Drama, Shounen, Sup...",TV,39,8.57,74074
74,5205,Kara no Kyoukai 7: Satsujin Kousatsu (Kou),"Action, Mystery, Romance, Supernatural, Thriller",Movie,1,8.57,95658
75,17389,Kingdom 2nd Season,"Action, Historical, Military, Seinen",TV,39,8.57,31234
76,170,Slam Dunk,"Comedy, Drama, School, Shounen, Sports",TV,101,8.56,82570
77,10162,Usagi Drop,"Josei, Slice of Life",TV,11,8.56,194855
78,18617,Girls und Panzer der Film,"Military, School",Movie,1,8.55,25641
79,32182,Mob Psycho 100,"Action, Comedy, Slice of Life, Supernatural",TV,12,8.55,193716
80,877,Nana,"Comedy, Drama, Music, Romance, Shoujo, Slice o...",TV,47,8.55,197256
81,2251,Baccano!,"Action, Comedy, Historical, Mystery, Seinen, S...",TV,13,8.54,363215
82,24687,Mushishi Zoku Shou: Odoro no Michi,"Adventure, Fantasy, Historical, Mystery, Seine...",Special,1,8.54,34011
83,16498,Shingeki no Kyojin,"Action, Drama, Fantasy, Shounen, Super Power",TV,25,8.54,896229
84,10030,Bakuman. 2nd Season,"Comedy, Drama, Romance, Shounen",TV,25,8.53,151561
85,5941,Cross Game,"Comedy, Drama, Romance, School, Sports",TV,50,8.53,53108
86,30346,Doukyuusei (Movie),"Romance, School, Shounen Ai, Slice of Life",Movie,1,8.53,28864
87,3784,Evangelion: 2.0 You Can (Not) Advance,"Action, Mecha, Sci-Fi",Movie,1,8.53,182224
88,13125,Shinsekai yori,"Drama, Horror, Mystery, Sci-Fi, Supernatural",TV,25,8.53,288376
89,12029,Uchuu Senkan Yamato 2199,"Action, Drama, Military, Sci-Fi, Space",OVA,26,8.53,44223
90,14397,Chihayafuru 2,"Drama, Game, Josei, Slice of Life, Sports",TV,25,8.52,86074
91,10087,Fate/Zero,"Action, Fantasy, Supernatural",TV,13,8.51,453630
92,14719,JoJo no Kimyou na Bouken (TV),"Action, Adventure, Shounen, Supernatural, Vampire",TV,26,8.51,190197
93,9756,Mahou Shoujo Madoka★Magica,"Drama, Magic, Psychological, Thriller",TV,12,8.51,462974
94,10165,Nichijou,"Comedy, School, Slice of Life",TV,26,8.52,254436
95,13601,Psycho-Pass,"Action, Police, Psychological, Sci-Fi",TV,22,8.50,509109
96,22789,Barakamon,"Comedy, Slice of Life",TV,12,8.50,225927
97,30230,Diamond no Ace: Second Season,"Comedy, School, Shounen, Sports",TV,51,8.50,38531
98,18115,Magi: The Kingdom of Magic,"Action, Adventure, Fantasy, Magic, Shounen",TV,25,8.50,245026
99,11981,Mahou Shoujo Madoka★Magica Movie 3: Hangyaku n...,"Drama, Magic, Psychological, Thriller",Movie,1,8.50,135735

In [54]:
df2.mean()

anime_id    14055.982035
episodes       13.939156
rating          6.507956
members     18924.950769
dtype: float64

In [76]:
df2['members'].sum()

190668879

In [77]:
df2['episodes'] = df['episodes'].astype(np.int64)

ValueError: invalid literal for int() with base 10: 'Unknown'

In [79]:
df2.describe(percentiles=[0.1,0.25,0.75,0.9]).round(2)

       anime_id  episodes    rating     members
count  10075.00  10075.00  10075.00    10075.00
mean   14055.98     13.94      6.51    18924.95
std    11294.94     50.82      1.06    57117.51
min        1.00      1.00      1.67       12.00
10%     1259.40      1.00      5.07       74.00
25%     3431.00      1.00      5.89      177.00
50%    10526.00      1.00      6.61     1227.00
75%    24438.00     13.00      7.26    10254.00
90%    31190.00     37.00      7.76    47587.60
max    34519.00   1818.00     10.00  1013917.00

In [80]:
df2[['genre','type']].describe()

         genre   type
count    10075  10075
unique    2735      6
top     Comedy     TV
freq       500   3330